
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    background-color: #a4dded;
}

h1 {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-size: 4.5em;
    font-weight: 700;
    color: #222;
}
